127.0.0.1   localhost.localdomain   localhost

{{ ansible_host }}    {{ ansible_distribution|lower }}{{ ansible_distribution_major_version }}.localdomain  {{ ansible_distribution|lower }}{{ ansible_distribution_major_version }}
